{{set . "title" "New"}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<!-- Content -->
<div class="row">
    <div class="col-lg-2">
        <!--Left Column-->
{{template "flash.html" .}} 
{{template "adminmenu.html"}}       
    </div>
    <div class="col-lg-7"><!-- Begin page content -->
        <form role="form" action="{{url "Admin.PostNewPost"}}" method="POST">
			<div class="form-group">
		    	<label for="PostHeader">{{msg . "post.header"}}</label> <span class="text-warning">*</span>
		    	<input type="text" class="form-control" id="PostHeader" placeholder="Post Header" name="post.Header" value="{{index .flash "post.Header"}}" class="{{errorClass "post.Header" .}}">		    	
		  	</div>
			<div class="form-group">
				<label for="PostBody">{{msg . "post.body"}}</label> <span class="text-warning">*</span>
			    <textarea rows="7" class="form-control" id="PostBody" placeholder="Post Body" name="post.Body" value="{{index .flash "post.Body"}}" class="{{errorClass "post.Body" .}}"></textarea>
			</div>
			<div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" id="exampleInputFile">
			    <p class="help-block">Example block-level help text here.</p>
			</div>
			<div class="form-group">
				<label for="PostCategory">Category</label><span class="text-warning">*</span>
				<select class="form-control" id="PostCategory" name="post.Category">
{{if .categories}}
	{{range .categories.Rows}}				
				  <option value="{{.Key}}">{{.Value}}</option>

	{{end}}
{{end}}				  
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="button" class="btn" id="cancel">Cancel</button>
			</div>
		</form>
    </div>
    <div class="col-lg-3">
        <!-- Right Column -->
    </div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}