{{set . "title" "Home"}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<div id="wrap">
    <div class="container"><!-- Begin page content --> 
{{template "flash.html" .}}
        <form role="form" action="{{url "Admin.PostNewPost"}}" method="POST">
			<div class="form-group">
		    	<label for="PostHeader">Header</label> <span class="text-warning">*</span>
		    	<input type="text" class="form-control" id="PostHeader" placeholder="Post Header" name="post.Header" value="{{index .flash "post.Header"}}" class="{{errorClass "post.Header" .}}">		    	
		  	</div>
			<div class="form-group">
				<label for="PostBody">Body</label> <span class="text-warning">*</span>
			    <textarea rows="7" class="form-control" id="PostBody" placeholder="Post Body" name="post.Body" value="{{index .flash "post.Body"}}" class="{{errorClass "post.Body" .}}"></textarea>
			</div>
			<div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" id="exampleInputFile">
			    <p class="help-block">Example block-level help text here.</p>
			</div>
			  <button type="submit" class="btn btn-default">Submit</button>
			  <button type="button" class="btn" id="cancel">Cancel</button>
		</form>
    </div>
    <div id="push"></div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}