{{set . "title" "Settings"}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<!-- Content -->
<div class="row">
    <div class="col-lg-2">
        <!--Left Column-->
{{template "flash.html" .}} 
{{template "adminmenu.html"}}       
    </div>
    <div class="col-lg-7"><!-- Begin page content -->
        <form role="form" action="{{url "Admin.PostSettings"}}" method="POST">

          <div class="form-group">
            <label for="settingsId">Id</label>
            <p class="form-control-static" id="settingsId">{{.user.Id}}</p>      
          </div>

          <div class="form-group">
            <label for="settingsRev">Rev</label>
            <p class="form-control-static" id="settingsRev">{{.user.Rev}}</p>      
          </div>

          <div class="form-group">
            <label for="settingsDisplayName">Display Name</label> <span class="text-warning">*</span>
            <input type="text" class="form-control" id="settingsDisplayName" placeholder="Display Name" name="user.DisplayName" value="{{.user.DisplayName}}">         
          </div>

          <div class="form-group">
            <label for="settingsUsername">Username</label> <span class="text-warning">*</span>
            <input type="text" class="form-control" id="settingsUsername" placeholder="Username" name="user.Username" value="{{.user.Username}}">         
          </div>

          <div class="form-group">
            <label for="settingsOldPassword">Old Password</label>
            <input type="text" class="form-control" id="settingsOldPassword" placeholder="Old Password" name="oldPassword">         
          </div>

          <div class="form-group">
            <label for="settingsNewPassword">New Password</label>
            <input type="text" class="form-control" id="settingsNewPassword" placeholder="New Password" name="user.Password">         
          </div>

          <div class="form-group">
            <label for="settingsConfirmNewPassword">Confirm New Password</label>
            <input type="text" class="form-control" id="settingsConfirmNewPassword" placeholder="Confirm New Password" name="confirmPassword">         
          </div>

          <input type="hidden" name="user.Id" value="{{.user.Id}}">
          <input type="hidden" name="user.Rev" value="{{.user.Rev}}">
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-lg-3">
        <!-- Right Column -->
    </div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}