{{set . "title" "Dashboard"}}
{{append . "moreStyles" "css/my.css"}}
{{append . "moreStyles" "css/roboto-font.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<!-- Content -->
<div class="container-fluid">
<div class="row">
    <div class="col-lg-2">
        <!--Left Column-->
{{template "adminmenu.html"}}       
    </div>
    <div class="col-lg-7"><!-- Begin page content -->
        {{if .headers}}
            {{range .headers.Rows}}
                <p class="text-info">{{timeFormat .Key}} - <a href="#">{{.Value}}</a></p>
            {{end}}
        {{else}}
        <p class="lead">Nothing</p>
        {{end}}
    </div>
    <div class="col-lg-3">
        <!-- Right Column -->
{{template "flash.html" .}}         
    </div>
</div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}