{{set . "title" "Settings"}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<div id="wrap">
    <div class="container"><!-- Begin page content -->
{{template "flash.html" .}}
        <!-- My blog format
        <p class="lead">Post Header</p>
        <p>Body</p>
        <p class="muted"><small>By My @ 0900 on 20130909</small></p>

        <hr>
        
        <p class="lead">Post Header</p>
        <p>Body</p>
        <p class="muted"><small>By My @ 0900 on 20130909</small></p>
        -->
        <p><strong>Id:</strong> {{.newuser.Id}}</p>
        <p><strong>Rev:</strong> {{.newuser.Rev}}</p>
        <p><strong>Display Name:</strong> {{.newuser.DisplayName}}</p>
        <p><strong>Username:</strong> {{.newuser.Username}}</p>
        <p><strong>Password:</strong> {{.newuser.Password}}</p>
        <p><strong>Password Confirm:</strong> {{.newuser.PasswordConfirm}}</p>
    </div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}