{{set . "title" .result.Header}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
{{template "flash.html" .}}
<div id="wrap">
    <div class="container"><!-- Begin page content -->
        <!-- My blog format -->
        <p class="lead">{{.result.Header}}</p>
        <p>{{.result.Body}}</p>
        <p class="muted"><small>By {{.result.Author}} @ {{timeFormat .result.Date}}</small></p>

        <!--
        <hr>
        
        <p class="lead">Post Header</p>
        <p>Body</p>
        <p class="muted"><small>By My @ 0900 on 20130909</small></p>
        -->
    </div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}