{{set . "title" "Home"}}
{{append . "moreStyles" "css/my.css"}}
{{template "header.html" .}}
{{template "toolbar.html" .}}
<div id="wrap">
    <div class="container"><!-- Begin page content -->
{{template "flash.html" .}}
        <!-- My blog format
        <p class="lead">Post Header</p>
        <p>Body</p>
        <p class="muted"><small>By My @ 0900 on 20130909</small></p>

        <hr>
        
        <p class="lead">Post Header</p>
        <p>Body</p>
        <p class="muted"><small>By My @ 0900 on 20130909</small></p>
        -->
        {{if .result}}
        <p class="lead">Total Rows: {{.result.TotalRows}}</p>
            {{range .result.Rows}}
                <a href="{{url "App.GetPost" .Id}}">{{index .Key 0}}/{{index .Key 1}}/{{index .Key 2}} - {{.Value}}</a><br/>
            {{end}}
        {{else}}
        <p class="lead">Nothing</p>
        {{end}}
    </div>
</div>
{{append . "moreScripts" "js/my.js"}}
{{template "footer.html" .}}